* {
    font-family: verdana;
}
.state {
    fill: #ACD2DF;
    stroke: #333;
    stroke-width:1px;
}
div{
    text-align: center;
}
h1{
    text-align: center;
}
li {
    list-style-type: none;
}
.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 48px;
    padding: 0px;
    font: 7px sans-serif;
    background: lightyellow;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
    opacity: .5;
}
table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: center;
}

th.des:after {
    content: "\21E9";
}

th.aes:after {
    content: "\21E7";
}

.svg-style {
    background-color: lightblue;
    display: block;
    margin: auto;
}


/*.tooltip {*/
/*    position: absolute;*/
/*    padding: 7px;*/
/*    font-size: 0.9em;*/
/*    pointer-events: none;*/
/*    background: #fff;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/

/*    -moz-box-shadow:    3px 3px 10px 0px rgba(0, 0, 0, 0.25);*/
/*    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);*/
/*    box-shadow:         3px 3px 10px 0px rgba(0, 0, 0, 0.25);*/
/*}*/